include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/short_urls *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/short_urls/migration *.ini *.py *.mako
